    {% load static %}
    
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'images/logo.svg' %}" alt="#"></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-5 col-md-7 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Menú</h3>
                                    <ul>
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Nosotros</a></li>
                                        <li><a href="#">Organización</a></li>
                                        <li><a href="#">Eventos</a></li>
                                        <li><a href="#">Blog</a></li>
                   
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-6">
                                <!-- Single Widget -->
                                <div class="single-footer f-contact f-link">
                                    <h3>Contáctenos</h3>
                           
                                    <ul class="footer-contact">
                                        <li><i class="lni lni-phone"></i> <a href="#">+506 88888888</a></li>
                                        <li><i class="lni lni-envelope"></i> <a
                                                href="mailto:info@cbppeninsular.com">info@cbppeninsular.com</a></li>
                                        <li><i class="lni lni-map-marker"></i> Paquera, Puntarenas, Costa Rica</li>
                                        <li><i class="lni lni-world"></i> <a href="#">www.cbpeninsular.com</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer gallery">
                            <h3>Social Feed</h3>
                            <ul class="list">
                                <li><a href="#"><img src="{% static 'images/gallery1.jpg' %}" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="{% static 'images/gallery2.jpg' %}" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="{% static 'images/gallery3.jpg' %}" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="{% static 'images/gallery4.jpg' %}" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="{% static 'images/gallery5.jpg' %}" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><img src="{% static 'images/gallery6.jpg' %}" alt="#"><i
                                            class="lni lni-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="left">
                                <p>Diseñado y desarrollado por<a href="#" rel="nofollow"
                                        target="_blank">kc webs</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="right">
                                <p>Todos los derechos reservados a Corredor Biológico Peninsular</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->